@model MongoDbPortfolio.DAL.Entities.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/AdminUILayout/Index.cshtml";
}

<br />
<br />
<div class="container">
    <form method="Post">
        <input type="hidden" asp-for="ExperienceId" class="form-control" />
        <label>Proje İsmi</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Tarih Aralığı</label>
        <input type="text" asp-for="StartYear" class="form-control" />
        <br />
        <label>Şirket ismi</label>
        <input type="text" asp-for="CompanyName" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle </button>
    </form>
</div>

