
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DefaultHeaderComponentPartial")

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="51">

    <!-- Spinner End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_DefaultNavbarComponentPartial")
    <!-- Navbar End -->
    <!-- Header Start -->
    @await Component.InvokeAsync("_DefaultBannerComponentPartial")
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-xxl py-6" id="about">
        <div class="container">
            <div class="row g-5">
                @await Component.InvokeAsync("_DefaultTimeZoneComponentPartial")

                @await Component.InvokeAsync("_DefaultStatisticComponentPartial")

            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Expertise Start -->
    <div class="container-xxl py-6 pb-5" id="skill">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-5">Yetenekler & Tecrübeler</h1>
                    <p class="mb-4">Yeteneklerimizi ve Eğitim kariyerimizi burdan görebilirsiniz.</p>
                    <h3 class="mb-4">Yeteneklerim</h3>
                    @await Component.InvokeAsync("_DefaultSkillsComponentPartial")
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <ul class="nav nav-pills rounded border border-2 border-primary mb-5">
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5 active" data-bs-toggle="pill" href="#tab-1">Yetenekler</button>
                        </li>
                        <li class="nav-item w-50">
                            <button class="nav-link w-100 py-3 fs-5" data-bs-toggle="pill" href="#tab-2">Eğitimler</button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        @await Component.InvokeAsync("_DefaultExperienceComponentPartial")
                        @await Component.InvokeAsync("_DefaultEducationComponentPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Expertise End -->
    <!-- Service Start -->
    @await Component.InvokeAsync("_DefaultServicesComponentPartial")
    <!-- Service End -->
    <!-- Testimonial Start -->
    @await Component.InvokeAsync("_DefaultTestimonialComponentPartial")
    <!-- Testimonial End -->
    <!-- Contact Start -->
    @await Component.InvokeAsync("_DefaultContactComponentPartial")
    <!-- Contact End -->
    <!-- Map Start -->
    <div class="container-xxl pt-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container-xxl pt-5 px-0">
            <div class="bg-dark">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
                frameborder="0" style="width: 100%; height: 450px; border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>
    </div>
    <!-- Map End -->


    <!-- Copyright Start -->
    <div class="container-fluid bg-dark text-white py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom text-secondary" href="#">Portfolio</a>, Tüm hakları saklıdır
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom text-secondary" href="https://htmlcodex.com">HTML Codex</a>
                        <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    @await Component.InvokeAsync("_DefaultScriptComponentPartial")
</body>

</html>