@model List<MongoDbPortfolio.DAL.Entities.Contact>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminUILayout/Index.cshtml";
}

<br />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Adres</th>
            <th>Telefon Numarası</th>
            <th>Email</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.ContactId</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td><a href="/Contact/DeleteContact/@item.ContactId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Contact/UpdateContact/@item.ContactId" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Contact/CreateContact" class="btn btn-primary">Yeni Hakkımda Girişi</a>
</div>



