@model List<MongoDbPortfolio.DAL.Entities.Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminUILayout/Index.cshtml";
}

<br />
<br />
<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Başlık</th>
            <th>Yüzdelik</th>
            <th>Bar rengi</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>

        @foreach (var item in Model)
        {

            <tr>
                <td>@item.SkillId</td>
                <td>@item.Title</td>
                <td>@item.Percent</td>
                <td>@item.BarColor</td>
                <td><a href="/Skill/DeleteSkill/@item.SkillId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Skill/UpdateSkill/@item.SkillId" class="btn btn-outline-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Skill/CreateSkill" class="btn btn-primary">Yeni Yetenek Girişi</a>
</div>





