@model MongoDbPortfolio.DAL.Entities.Skill
@{
    ViewData["Title"] = "UpdateSkill";
    Layout = "~/Views/AdminUILayout/Index.cshtml";
}

<br />
<br />
<div class="container">
    <form method="Post">
        <input type="hidden" asp-for="SkillId" class="form-control" />
        <label>Yetenek Adı</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Yüzdelik</label>
        <input type="text" asp-for="Percent" class="form-control" />
        <br />
        <label>Renk kodu </label>
        <input type="text" asp-for="BarColor" class="form-control" />
        <br />
        <button class="btn btn-primary">Ekle </button>
    </form>
</div>




