@model List<MongoDbPortfolio.DAL.Entities.Skill>
<div class="row align-items-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                    <h6 class="font-weight-bold">@item.Title</h6>
                    <h6 class="font-weight-bold">@item.Percent%</h6>
                </div>
                <div class="progress">
                    <div class="progress-bar @item.BarColor" role="progressbar" aria-valuenow="@item.Percent" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    }
</div>