@model List<MongoDbPortfolio.DAL.Entities.Contact>
<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Birlikte Çalışalım!</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <a class="btn btn-primary py-3 px-5" href="">Merhaba de</a>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">Adresimiz:</p>
                <h3 class="fw-bold">@Model[0].Address</h3>
                <hr class="w-100">
                <p class="mb-2">Bizi Arayın:</p>
                <h3 class="fw-bold">@Model[0].Phone</h3>
                <hr class="w-100">
                <p class="mb-2">Mail :</p>
                <h3 class="fw-bold">@Model[0].Email</h3>
                <hr class="w-100">
                <p class="mb-2">Takip et:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">Bizimle İletişime Geç <a href="https://htmlcodex.com/contact-form">Şimdi indir</a>.</p>
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="İsim">
                                <label for="name">İsminiz</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <label for="email">Mailiniz</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Konu">
                                <label for="subject">Konu</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Mesaj Bırakın" id="message" style="height: 100px"></textarea>
                                <label for="message">Mesaj</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Gönder</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>